header {
  background: linear-gradient(rgb(172, 107, 191) 0%, rgb(105, 52, 144) 100%);
  padding: 10px;
  color: white;
  font-family: Calibri;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 20px;
  font-weight: 200;
}

.search {
  display: flex;
}

.search input {
  border: 1px solid #d2cece;
  width: 13em;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0.5em #d2cece;
}

.search button {
  width: 100%;
}
